<form  action="/result" method="post">
  <label for="new-number">Enter a number</label>
  <input id="new-number" type="number" name="new-number">
  <button type "submit" name="button">Submit</button>
</form>
